name: Build exteraGram

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Set API keys
        run: |
          echo "APP_ID=32444842" >> $GITHUB_ENV
          echo "APP_HASH=cbf37857fa6fe0fa2861de75661d2509" >> $GITHUB_ENV
          echo "MAPS_V2_API=1234567890abcdef" >> $GITHUB_ENV
          echo "SIGNING_KEY_STORE_PASSWORD=123456" >> $GITHUB_ENV
          echo "SIGNING_KEY_ALIAS=mykey" >> $GITHUB_ENV
          echo "SIGNING_KEY_PASSWORD=123456" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease --no-configuration-cache

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: exteraGram-app
          path: "**/*.apk"
