name: Build exteraGram

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease --no-configuration-cache

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: exteraGram-app
          path: "**/*.apk"
